MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=FlexiNode
DB_NAME=databaseManagement
ADMIN_PASSWORD=your_secure_admin_password
FRONTEND_URL=https://your-netlify-site.netlify.app
NETLIFY_URL=https://your-custom-domain.com
GODADDY_URL=https://www.your-custom-domain.com
PORT=5000
