MONGO_URI=your_mongodb_connection_string
DB_NAME=databaseManagement
ADMIN_PASSWORD=flexinode@2025
FRONTEND_URL=https://your-netlify-site.netlify.app
NETLIFY_URL=https://your-custom-domain.com
GODADDY_URL=https://www.your-custom-domain.com
PORT=5000
